.product
	.product__heading
		.product__heading__type Type 1
		.product__heading__date Today, 10:42 AM
	.product__title Primary Notification content (clickable)
	.product__description Secondary notification content; 
		span.product__description-bold requirements: 
		span.product__description-full might include various info in few lines that can be highlighted inline
	.product__dropdown
		ul.product__dropdown__menu
			li.product__dropdown__menu__item Menu item 1
			li.product__dropdown__menu__item Menu item 2
			li.product__dropdown__menu__item Menu item 3