@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova/ProximaNova-Light.eot'),
	url('../fonts/ProximaNova/ProximaNova-Light.ttf'),
	url('../fonts/ProximaNova/ProximaNova-Light.woff');
	font-style: normal;
	font-weight: normal;
}