ul.categories
	li.category__item
		a(href="#") All Categories
	li.category__item
		a(href="#") Category 1
	li.category__item.active
		a(href="#") Category 2
	li.category__item
		a(href="#") Category 3
