.content-header
	h1.content-header__title Notifications
	.content-header__dropdown View: 
		span All types
	ul.content-header__dropdown-list
		li.content-header__dropdown-list-item
			a(href="#") All types
		li.content-header__dropdown-list-item
			a(href="#") Type 1
		li.content-header__dropdown-list-item
			a(href="#") Type 2