.login
	.login__subscribe
		img(src="static/images/general/bell.svg", alt="subscribe").login__subscribe_img
	.login__account
		img(src="static/images/general/login.svg", alt="login").login__account_img
